.popup__form-error {
  max-width: 358px;
  width: 100%;
  margin: auto;

  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FF0000;
  padding-top: 3px;
  box-sizing: border-box;
  min-height: 33px;
  visibility: hidden;
}


@media screen and (max-width: 624px) {
  .popup__form-error {
    max-width: 238px;
  }
}